{% extends '@TachigoUIModule/layout.html.twig' %}

{% block html_title %}巨幕 -- Jumbotron{{ parent() }}{% endblock%}

{% block page_lead %}
    TUI 的巨幕相关类命名规范和 Bootstrap 相同， 如果只需要使用 TUI 的巨幕， 可以只引用 tui-jumbotron.css (tui-jumbotron.min.css) 样式文件。
{% endblock %}


{% block main %}
    <section>
        <h2 id="jumbotron-overview">示例</h2>
        <p lang="zh">
            默认的巨幕是没有圆角的，如果需要给巨幕加上圆角，请添加类 <code>.jumbotron-rounded</code>。
        </p>
        <div class="td-example">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
        <div class="td-example">
            <div class="jumbotron jumbotron-rounded">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<div class="jumbotron jumbotron-rounded">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
        <p lang="zh">
            使用类 <code>.jumbotron-fluid</code> 可以展示更加宽的巨幕。这时就可以添加我们的容器类 <code>.container</code> 或者 <code>.container-fluid</code> 来进行进一步的布局了。
        </p>
        <div class="td-example">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Fluid jumbotron</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
{% endblock %}