{% extends '@TachigoUIModule/layout.html.twig' %}

{% block html_title %}导航 -- Navigation{{ parent() }}{% endblock%}

{% block page_lead %}
    TUI 的导航类命名规范和 Bootstrap 相同， 如果只需要使用TUI的导航， 可以只引用 tui-nav.css (tui-nav.min.css) 样式文件。
{% endblock %}


{% block main %}
    <section>
        <h2 id="overview">示例</h2>
        <p lang="zh">在 <code>{% filter escape %}<ul></ul>{% endfilter %}</code> 中使用。</p>
        <div class="td-example">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
    </li>
</ul>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
        <p lang="zh">
            也可以使用 <code>{% filter escape %}<nav></nav>{% endfilter %}</code> 和 <code>{% filter escape %}<a></a>{% endfilter %}</code> 进行组合。
        </p>
        <div class="td-example">
            <nav class="nav">
                <a class="nav-link active" href="javascript:void(0);">Active</a>
                <a class="nav-link" href="javascript:void(0);">Link</a>
                <a class="nav-link" href="javascript:void(0);">Link</a>
                <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
            </nav>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<nav class="nav">
    <a class="nav-link active" href="javascript:void(0);">Active</a>
    <a class="nav-link" href="javascript:void(0);">Link</a>
    <a class="nav-link" href="javascript:void(0);">Link</a>
    <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
</nav>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="horizontal-alignment">水平排版</h2>
        <p lang="zh">由于 <code>.nav</code> 使用的是 <code>flex</code> 盒子模型，所以水平排版可以使用 <code>flex</code> 相关的辅助类进行布局，默认居左，<code>.justify-content-center</code> 居中，<code>justify-content-end</code> 居右。</p>
        <div class="td-example">
            <nav class="nav justify-content-center">
                <a class="nav-link active" href="javascript:void(0);">Active</a>
                <a class="nav-link" href="javascript:void(0);">Link</a>
                <a class="nav-link" href="javascript:void(0);">Link</a>
                <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
            </nav>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<nav class="nav justify-content-center">
    <a class="nav-link active" href="javascript:void(0);">Active</a>
    <a class="nav-link" href="javascript:void(0);">Link</a>
    <a class="nav-link" href="javascript:void(0);">Link</a>
    <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
</nav>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="vertical-alignment">垂直排版</h2>
        <p lang="zh">使用类 <code>.flex-column</code> 即可使导航呈现垂直排版。</p>
        <div class="td-example">
            <nav class="nav flex-column">
                <a class="nav-link active" href="javascript:void(0);">Active</a>
                <a class="nav-link" href="javascript:void(0);">Link</a>
                <a class="nav-link" href="javascript:void(0);">Link</a>
                <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
            </nav>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<nav class="nav flex-column">
    <a class="nav-link active" href="javascript:void(0);">Active</a>
    <a class="nav-link" href="javascript:void(0);">Link</a>
    <a class="nav-link" href="javascript:void(0);">Link</a>
    <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
</nav>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="nav-pills">Pills 样式</h2>
        <div class="td-example">
            <nav class="nav nav-pills">
                <a class="nav-link active" href="javascript:void(0);">Active</a>
                <a class="nav-link" href="javascript:void(0);">Link</a>
                <a class="nav-link" href="javascript:void(0);">Link</a>
                <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
            </nav>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<nav class="nav nav-pills">
    <a class="nav-link active" href="javascript:void(0);">Active</a>
    <a class="nav-link" href="javascript:void(0);">Link</a>
    <a class="nav-link" href="javascript:void(0);">Link</a>
    <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
</nav>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="nav-tabs">选项卡 Tabs 样式</h2>
        <p lang="zh">选项卡样式必须使用 <code>{% filter escape %}<ul></ul>{% endfilter %}</code> 的形式才能正确显示。</p>
        <div class="td-example">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="javascript:void(0);">Disabled</a>
    </li>
</ul>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="navbar-overview">导航条示例</h2>
        <div class="td-example">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="javascript:void(0);">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse animation" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="javascript:void(0);">Home <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Link</a></li>
                        <li class="nav-item popout">
                            <a class="nav-link popout-toggle" href="javascript:void(0);" id="navbarPopout" role="button" data-toggle="popout" aria-haspopup="true" aria-expanded="false">Pop out</a>
                            <div class="popout-menu" aria-labelledby="navbarPopout">
                                <a class="popout-item" href="javascript:void(0);">Action</a>
                                <a class="popout-item" href="javascript:void(0);">Another action</a>
                                <div class="popout-divider"></div>
                                <a class="popout-item" href="javascript:void(0);">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0);">Disabled</a></li>
                    </ul>
                    <form class="ml-auto">
                        <div class="form-row flexible no-gutters">
                            <div class="col mr-lg-2 mb-sm-2 mb-lg-0">
                                <div class="tui-form-item mb-0">
                                    <div class="tui-control">
                                        <input class="tui-input" type="search" placeholder="Search" aria-label="Search">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-auto">
                                <div class="tui-form-item mb-0">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0);">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="javascript:void(0);">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Link</a></li>
            <li class="nav-item popout">
                <a class="nav-link popout-toggle" href="javascript:void(0);" id="navbarPopout" role="button" data-toggle="popout" aria-haspopup="true" aria-expanded="false">Pop out</a>
                <div class="popout-menu" aria-labelledby="navbarPopout">
                    <a class="popout-item" href="javascript:void(0);">Action</a>
                    <a class="popout-item" href="javascript:void(0);">Another action</a>
                    <div class="popout-divider"></div>
                    <a class="popout-item" href="javascript:void(0);">Something else here</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0);">Disabled</a></li>
        </ul>
        <form class="ml-auto">
            <div class="form-row flexible no-gutters">
                <div class="col mr-lg-2 mb-sm-2 mb-lg-0">
                    <div class="tui-form-item mb-0">
                        <div class="tui-control">
                            <input class="tui-input" type="search" placeholder="Search" aria-label="Search">
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="tui-form-item mb-0">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="navbar-offcanvas">Offcanvas 导航条</h2>
        <div class="td-example">
            <nav class="navbar navbar-offcanvas navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="javascript:void(0);">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-offcanvas-container" aria-controls="navbar-offcanvas-container" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse animation-left2right" id="navbar-offcanvas-container">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="javascript:void(0);">Home <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Link</a></li>
                        <li class="nav-item popout">
                            <a class="nav-link popout-toggle" href="javascript:void(0);" id="navbarPopout" role="button" data-toggle="popout" aria-haspopup="true" aria-expanded="false">Pop out</a>
                            <div class="popout-menu" aria-labelledby="navbarPopout">
                                <a class="popout-item" href="javascript:void(0);">Action</a>
                                <a class="popout-item" href="javascript:void(0);">Another action</a>
                                <div class="popout-divider"></div>
                                <a class="popout-item" href="javascript:void(0);">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0);">Disabled</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
                            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0);">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="javascript:void(0);">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Link</a></li>
            <li class="nav-item popout">
                <a class="nav-link popout-toggle" href="javascript:void(0);" id="navbarPopout" role="button" data-toggle="popout" aria-haspopup="true" aria-expanded="false">Pop out</a>
                <div class="popout-menu" aria-labelledby="navbarPopout">
                    <a class="popout-item" href="javascript:void(0);">Action</a>
                    <a class="popout-item" href="javascript:void(0);">Another action</a>
                    <div class="popout-divider"></div>
                    <a class="popout-item" href="javascript:void(0);">Something else here</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0);">Disabled</a></li>
        </ul>
        <form class="ml-auto">
            <div class="form-row flexible no-gutters">
                <div class="col mr-lg-2 mb-sm-2 mb-lg-0">
                    <div class="tui-form-item mb-0">
                        <div class="tui-control">
                            <input class="tui-input" type="search" placeholder="Search" aria-label="Search">
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="tui-form-item mb-0">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
{% endblock %}