{% extends '@TachigoUIModule/layout.html.twig' %}

{% block html_title %}这是Layer的IFrame弹出层{% endblock%}

{% block page_lead %}
    这里看到的是来自链接 <a href="{{ url('ui_component_layer_iframe') }}">{{ url('ui_component_layer_iframe') }}</a> 的内容。
{% endblock %}