{% extends '@TachigoUIModule/layout.html.twig' %}

{% block html_title %}表单 -- Form{{ parent() }}{% endblock%}

{% block page_lead %}
    这里展示的是兼容 Bootstrap 风格的 TUI 的表单样式， 可以只引用 tui-form.css (tui-form.min.css) 样式文件。
{% endblock %}

{% block main %}
    <section>
        <h2 id="form-control">表单控件</h2>
        <p lang="zh">
            所谓的控件，这里指的是含有输入框的 <code>{% filter escape %}<input>{% endfilter %}</code> ，<code>{% filter escape %}<select></select>{% endfilter %}</code> 及 <code>{% filter escape %}<textarea></textarea>{% endfilter %}</code> 标签。
            这些控件都会占满父容器的整个宽度。
        </p>
        <section>
            <h3 id="control-input">单行文本输入框</h3>
            <p lang="zh">
                <code>{% filter escape %}<input>{% endfilter %}</code>
            </p>
            <div class="td-example">
                <input type="text" class="form-control form-control-sm" placeholder="小输入框">
                <br>
                <input type="text" class="form-control" placeholder="默认大小输入框">
                <br>
                <input type="text" class="form-control form-control-lg" placeholder="大输入框">
            </div>
            <div class="td-code">
                {% spaceless %}
                    <pre class="highlight">
                        <code class="xml html css javascript">
                            {%- filter escape -%}
<input type="text" class="form-control form-control-sm" placeholder="小输入框">
<input type="text" class="form-control" placeholder="默认大小输入框">
<input type="text" class="form-control form-control-lg" placeholder="大输入框">
                            {% endfilter %}
                        </code>
                    </pre>
                {% endspaceless %}
            </div>
        </section>
        <section>
            <h3 id="control-select">选择下拉框</h3>
            <p lang="zh">
                <code>{% filter escape %}<select></select>{% endfilter %}</code>
            </p>
            <div class="td-example">
                <select class="form-control form-control-sm">
                    <optgroup label="选项分组1">
                        <option value="1">a</option>
                        <option value="2">b</option>
                        <option value="3">c</option>
                    </optgroup>
                    <optgroup label="选项分组2">
                        <option value="11">aa</option>
                        <option value="22">bb</option>
                        <option value="33">cc</option>
                    </optgroup>
                </select>
                <br>
                <select class="form-control">
                    <optgroup label="选项分组1">
                        <option value="1">a</option>
                        <option value="2">b</option>
                        <option value="3">c</option>
                    </optgroup>
                    <optgroup label="选项分组2">
                        <option value="11">aa</option>
                        <option value="22">bb</option>
                        <option value="33">cc</option>
                    </optgroup>
                </select>
                <br>
                <select class="form-control form-control-lg">
                    <optgroup label="选项分组1">
                        <option value="1">a</option>
                        <option value="2">b</option>
                        <option value="3">c</option>
                    </optgroup>
                    <optgroup label="选项分组2">
                        <option value="11">aa</option>
                        <option value="22">bb</option>
                        <option value="33">cc</option>
                    </optgroup>
                </select>
                <br>
                <select class="form-control" multiple>
                    <optgroup label="选项分组1">
                        <option value="1">a</option>
                        <option value="2">b</option>
                        <option value="3">c</option>
                    </optgroup>
                    <optgroup label="选项分组2">
                        <option value="11">aa</option>
                        <option value="22">bb</option>
                        <option value="33">cc</option>
                    </optgroup>
                </select>
            </div>
            <div class="td-code">
                {% spaceless %}
                    <pre class="highlight">
                        <code class="xml html css javascript">
                            {%- filter escape -%}
<select class="form-control form-control-sm">
    <optgroup label="选项分组1">
        <option value="1">a</option>
        <option value="2">b</option>
        <option value="3">c</option>
    </optgroup>
    <optgroup label="选项分组2">
        <option value="11">aa</option>
        <option value="22">bb</option>
        <option value="33">cc</option>
    </optgroup>
</select>
<select class="form-control">
    <optgroup label="选项分组1">
        <option value="1">a</option>
        <option value="2">b</option>
        <option value="3">c</option>
    </optgroup>
    <optgroup label="选项分组2">
        <option value="11">aa</option>
        <option value="22">bb</option>
        <option value="33">cc</option>
    </optgroup>
</select>
<select class="form-control form-control-lg">
    <optgroup label="选项分组1">
        <option value="1">a</option>
        <option value="2">b</option>
        <option value="3">c</option>
    </optgroup>
    <optgroup label="选项分组2">
        <option value="11">aa</option>
        <option value="22">bb</option>
        <option value="33">cc</option>
    </optgroup>
</select>
<select class="form-control" multiple>
    <optgroup label="选项分组1">
        <option value="1">a</option>
        <option value="2">b</option>
        <option value="3">c</option>
    </optgroup>
    <optgroup label="选项分组2">
        <option value="11">aa</option>
        <option value="22">bb</option>
        <option value="33">cc</option>
    </optgroup>
</select>
                            {% endfilter %}
                        </code>
                    </pre>
                {% endspaceless %}
            </div>
        </section>
        <section>
            <h3 id="control-textarea">多行文本输入框</h3>
            <p lang="zh">
                <code>{% filter escape %}<textarea></textarea>{% endfilter %}</code>
            </p>
            <div class="td-example">
                <textarea class="form-control form-control-sm" placeholder="小文本输入框"></textarea>
                <br>
                <textarea class="form-control" placeholder="默认大小文本输入框"></textarea>
                <br>
                <textarea class="form-control form-control-lg" placeholder="大文本输入框"></textarea>
            </div>
            <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                        <code class="xml html css javascript">
                            {%- filter escape -%}
<textarea class="form-control form-control-sm" placeholder="小文本输入框"></textarea>
<textarea class="form-control" placeholder="默认大小文本输入框"></textarea>
<textarea class="form-control form-control-lg" placeholder="大文本输入框"></textarea>
                            {% endfilter %}
                        </code>
                    </pre>
            {% endspaceless %}
            </div>
        </section>
    </section>
    <section>
        <h2 id="control-label">控件标题</h2>
        <p lang="zh">
            控件标题 <code>{% filter escape %}<label></label>{% endfilter %}</code>，关于这个标签在 HTML 正规的写法上有两种规范。
        </p>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                        <code class="xml html css javascript">
                            {%- filter escape -%}
1:  <label>标题 <input></label>
2:  <label for="control-1">标题</label>
    ...
    <input id="control-1">
                            {% endfilter %}
                        </code>
                    </pre>
            {% endspaceless %}
        </div>
        <p lang="zh">
            鉴于布局上的灵活性，TUI 推荐第二种写法。
        </p>
    </section>
    <section>
        <h2 id="control-radio">单选按钮</h2>
        <p lang="zh">
            对于 <code>{% filter escape %}input[type="radio"]{% endfilter %}</code> 标签，不应该使用 <code>.form-control</code> 类了，应该使用 <code>.form-check-input</code>。
            与 <code>{% filter escape %}<label></label>{% endfilter %}</code> 组合时应该在 <code>{% filter escape %}<label></label>{% endfilter %}</code> 添加类 <code>.form-check-label</code> 并在外层包含一个 <code>div.form-check</code>。
        </p>
        <div class="td-example">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Second default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                <label class="form-check-label" for="exampleRadios3">
                    Disabled radio
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
            </div>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                        <code class="xml html css javascript">
                            {%- filter escape -%}
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        Default radio
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
        Second default radio
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
    <label class="form-check-label" for="exampleRadios3">
        Disabled radio
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
</div>
                            {% endfilter %}
                        </code>
                    </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="control-checkbox">复选按钮</h2>
        <p lang="zh">对于 <code>{% filter escape %}input[type="checkbox"]{% endfilter %}</code> 标签，不应该使用 <code>.form-control</code> 类了，应该使用 <code>.form-check-input</code></p>
        <div class="td-example">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                    Disabled checkbox
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
            </div>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                        <code class="xml html css javascript">
                            {%- filter escape -%}
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
        Default checkbox
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
    <label class="form-check-label" for="defaultCheck2">
        Disabled checkbox
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">2</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
    <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
</div>
                            {% endfilter %}
                        </code>
                    </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="custom-form">自定义的表单控件</h2>
        <section>
            <h3 id="custom-checkbox">复选按钮</h3>
            <div class="td-example">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
                    <label class="custom-control-label" for="customCheckDisabled">Check this custom checkbox</label>
                </div>
            </div>
            <div class="td-code">
                {% spaceless %}
                    <pre class="highlight">
                        <code class="xml html css javascript">
                            {%- filter escape -%}
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck1">
  <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
</div>
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
  <label class="custom-control-label" for="customCheckDisabled">Check this custom checkbox</label>
</div>
                            {% endfilter %}
                        </code>
                    </pre>
                {% endspaceless %}
            </div>
        </section>
        <section>
            <h3 id="custom-radio">单选按钮</h3>
            <div class="td-example">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Or toggle this other custom radio</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="radioDisabled" id="customRadioDisabled" class="custom-control-input" disabled>
                    <label class="custom-control-label" for="customRadioDisabled">Toggle this custom radio</label>
                </div>
            </div>
            <div class="td-code">
                {% spaceless %}
                    <pre class="highlight">
                        <code class="xml html css javascript">
                            {%- filter escape -%}
<div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
    <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
</div>
<div class="custom-control custom-radio">
    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
    <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">Or toggle this other custom radio</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" name="radioDisabled" id="customRadioDisabled" class="custom-control-input" disabled>
  <label class="custom-control-label" for="customRadioDisabled">Toggle this custom radio</label>
</div>
                            {% endfilter %}
                        </code>
                    </pre>
                {% endspaceless %}
            </div>
        </section>
        <section>
            <h3 id="custom-file">文件上传</h3>
            <div class="td-example">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" lang="zh">
                    <label class="custom-file-label" for="customFile">选择文件</label>
                </div>
            </div>
        </section>
    </section>
{% endblock %}