{% extends '@TachigoUIModule/layout.html.twig' %}

{% block html_title %}表格 -- Table{{ parent() }}{% endblock%}

{% block page_lead %}
    TUI表格样式类命名规范和 Bootstrap 相同， 如果只需要使用TUI的表格样式， 可以只引用 tui-table.css (tui-table.min.css) 样式文件。
{% endblock %}

{% block main %}
    <section>
        <h2 id="default-table">默认的表格</h2>
        <p lang="zh">默认的表格没有任何样式，因为表格是可以用来进行布局的。</p>
        <div class="td-example">
            <table>
                <tbody>
                <tr>
                    <td>abc</td>
                    <td>def</td>
                    <td>ghi</td>
                    <td>jkl</td>
                    <td>mno</td>
                </tr>
                <tr>
                    <td>abc</td>
                    <td>def</td>
                    <td>ghi</td>
                    <td>jkl</td>
                    <td>mno</td>
                </tr>
                <tr>
                    <td>abc</td>
                    <td>def</td>
                    <td>ghi</td>
                    <td>jkl</td>
                    <td>mno</td>
                </tr>
                <tr>
                    <td>abc</td>
                    <td>def</td>
                    <td>ghi</td>
                    <td>jkl</td>
                    <td>mno</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<table>
    <tbody>
    <tr>
        <td>abc</td>
        <td>def</td>
        <td>ghi</td>
        <td>jkl</td>
        <td>mno</td>
    </tr>
    <tr>
        <td>abc</td>
        <td>def</td>
        <td>ghi</td>
        <td>jkl</td>
        <td>mno</td>
    </tr>
    <tr>
        <td>abc</td>
        <td>def</td>
        <td>ghi</td>
        <td>jkl</td>
        <td>mno</td>
    </tr>
    <tr>
        <td>abc</td>
        <td>def</td>
        <td>ghi</td>
        <td>jkl</td>
        <td>mno</td>
    </tr>
    </tbody>
</table>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="common-table">普通的表格</h2>
        <p lang="zh">通过在 <code>{% filter escape %}<table></table>{% endfilter %}</code> 标签中添加类 <code>.table</code> 可以使表格带上默认的样式。</p>
        <div class="td-example">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="td-code">
            {% spaceless %}
                <pre class="highlight">
                    <code class="xml html css javascript">
                        {%- filter escape -%}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
                        {%- endfilter -%}
                    </code>
                </pre>
            {% endspaceless %}
        </div>
    </section>
    <section>
        <h2 id="striped-table">斑马线表格</h2>
        <p lang="zh">通过在 <code>{% filter escape %}<table></table>{% endfilter %}</code> 标签中添加类 <code>.table-striped</code> 可以使表格的行呈现斑马线一样的样式。</p>
        <div class="td-example">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h2 id="bordered-table">带边框的表格</h2>
        <p lang="zh">通过在 <code>{% filter escape %}<table></table>{% endfilter %}</code> 标签中添加类 <code>.table-bordered</code> 可以使表格带上边框。</p>
        <div class="td-example">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h2 id="hoverable-table">带鼠标悬浮样式的表格</h2>
        <p lang="zh">通过在 <code>{% filter escape %}<table></table>{% endfilter %}</code> 标签中添加类 <code>.table-hover</code> 可以使表格的行在鼠标悬浮时有高亮显示。</p>
        <div class="td-example">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h2 id="condensed-table">紧凑的表格</h2>
        <p lang="zh">通过在 <code>{% filter escape %}<table></table>{% endfilter %}</code> 标签中添加类 <code>.table-condensed</code> 或者 <code>.table-sm</code> 可以使表格的内容更加紧凑。</p>
        <div class="td-example">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <h2 id="responsive-table">响应式的表格</h2>
        <p lang="zh">
            和 Bootstrap 不一样，TUI 认为响应式的表格应该将表格翻转，即由竖向的变成横向，并且固定表头。 但是类命名的规则和 Bootstrap 是一样的。 可以通过缩放浏览器来查看样式变化。
            通过在 <code>{% filter escape %}<table></table>{% endfilter %}</code> 标签中添加类 <code>.table-responsive</code> 及在对应缩放尺寸下的 <code>.table-responsive-{xs|sm|md|lg|xl}</code> 来针对对应缩放尺寸下是否进行表格的响应式显示。</p>
        <div class="td-example">
            <table class="table table-bordered table-hover table-striped table-condensed table-responsive table-responsive-sm">
                <thead>
                <tr>
                    <th> Code </th>
                    <th> Company </th>
                    <th class="numeric"> Price </th>
                    <th class="numeric"> Change </th>
                    <th class="numeric"> Change % </th>
                    <th class="numeric"> Open </th>
                    <th class="numeric"> High </th>
                    <th class="numeric"> Low </th>
                    <th class="numeric"> Volume </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> AAC </td>
                    <td> AUSTRALIAN AGRICULTURAL COMPANY LIMITED. </td>
                    <td class="numeric"> &nbsp; </td>
                    <td class="numeric"> -0.01 </td>
                    <td class="numeric"> -0.36% </td>
                    <td class="numeric"> $1.39 </td>
                    <td class="numeric"> $1.39 </td>
                    <td class="numeric"> &nbsp; </td>
                    <td class="numeric"> 9,395 </td>
                </tr>
                <tr>
                    <td> AAD </td>
                    <td> ARDENT LEISURE GROUP </td>
                    <td class="numeric"> $1.15 </td>
                    <td class="numeric"> +0.02 </td>
                    <td class="numeric"> 1.32% </td>
                    <td class="numeric"> $1.14 </td>
                    <td class="numeric"> $1.15 </td>
                    <td class="numeric"> $1.13 </td>
                    <td class="numeric"> 56,431 </td>
                </tr>
                <tr>
                    <td> AAX </td>
                    <td> AUSENCO LIMITED </td>
                    <td class="numeric"> $4.00 </td>
                    <td class="numeric"> -0.04 </td>
                    <td class="numeric"> -0.99% </td>
                    <td class="numeric"> $4.01 </td>
                    <td class="numeric"> $4.05 </td>
                    <td class="numeric"> $4.00 </td>
                    <td class="numeric"> 90,641 </td>
                </tr>
                <tr>
                    <td> ABC </td>
                    <td> ADELAIDE BRIGHTON LIMITED </td>
                    <td class="numeric"> $3.00 </td>
                    <td class="numeric"> +0.06 </td>
                    <td class="numeric"> 2.04% </td>
                    <td class="numeric"> $2.98 </td>
                    <td class="numeric"> $3.00 </td>
                    <td class="numeric"> $2.96 </td>
                    <td class="numeric"> 862,518 </td>
                </tr>
                <tr>
                    <td> ABP </td>
                    <td> ABACUS PROPERTY GROUP </td>
                    <td class="numeric"> $1.91 </td>
                    <td class="numeric"> 0.00 </td>
                    <td class="numeric"> 0.00% </td>
                    <td class="numeric"> $1.92 </td>
                    <td class="numeric"> $1.93 </td>
                    <td class="numeric"> $1.90 </td>
                    <td class="numeric"> 595,701 </td>
                </tr>
                <tr>
                    <td> ABY </td>
                    <td> ADITYA BIRLA MINERALS LIMITED </td>
                    <td class="numeric"> $0.77 </td>
                    <td class="numeric"> +0.02 </td>
                    <td class="numeric"> 2.00% </td>
                    <td class="numeric"> $0.76 </td>
                    <td class="numeric"> $0.77 </td>
                    <td class="numeric"> $0.76 </td>
                    <td class="numeric"> 54,567 </td>
                </tr>
                <tr>
                    <td> ACR </td>
                    <td> ACRUX LIMITED </td>
                    <td class="numeric"> $3.71 </td>
                    <td class="numeric"> +0.01 </td>
                    <td class="numeric"> 0.14% </td>
                    <td class="numeric"> $3.70 </td>
                    <td class="numeric"> $3.72 </td>
                    <td class="numeric"> $3.68 </td>
                    <td class="numeric"> 191,373 </td>
                </tr>
                <tr>
                    <td> ADU </td>
                    <td> ADAMUS RESOURCES LIMITED </td>
                    <td class="numeric"> $0.72 </td>
                    <td class="numeric"> 0.00 </td>
                    <td class="numeric"> 0.00% </td>
                    <td class="numeric"> $0.73 </td>
                    <td class="numeric"> $0.74 </td>
                    <td class="numeric"> $0.72 </td>
                    <td class="numeric"> 8,602,291 </td>
                </tr>
                <tr>
                    <td> AGG </td>
                    <td> ANGLOGOLD ASHANTI LIMITED </td>
                    <td class="numeric"> $7.81 </td>
                    <td class="numeric"> -0.22 </td>
                    <td class="numeric"> -2.74% </td>
                    <td class="numeric"> $7.82 </td>
                    <td class="numeric"> $7.82 </td>
                    <td class="numeric"> $7.81 </td>
                    <td class="numeric"> 148 </td>
                </tr>
                <tr>
                    <td> AGK </td>
                    <td> AGL ENERGY LIMITED </td>
                    <td class="numeric"> $13.82 </td>
                    <td class="numeric"> +0.02 </td>
                    <td class="numeric"> 0.14% </td>
                    <td class="numeric"> $13.83 </td>
                    <td class="numeric"> $13.83 </td>
                    <td class="numeric"> $13.67 </td>
                    <td class="numeric"> 846,403 </td>
                </tr>
                <tr>
                    <td> AGO </td>
                    <td> ATLAS IRON LIMITED </td>
                    <td class="numeric"> $3.17 </td>
                    <td class="numeric"> -0.02 </td>
                    <td class="numeric"> -0.47% </td>
                    <td class="numeric"> $3.11 </td>
                    <td class="numeric"> $3.22 </td>
                    <td class="numeric"> $3.10 </td>
                    <td class="numeric"> 5,416,303 </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}